In [1]:
#first import libraries
import pandas as pd
import numpy as np

#read in the csv kept at the same link each day
filename = "https://oui.doleta.gov/unemploy/csv/ar539.csv"
unemployment = pd.read_csv(filename)

#look at first five rows
unemployment.head()

C:\Users\sheri\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,st,rptdate,c1,c2,c3,c4,c5,c6,c7,c8,...,c17,c18,c19,c20,c21,c22,c23,curdate,priorwk_pub,priorwk
0,AK,2/15/1986,6,2/8/1986,2048,8,9,0,0,21230,...,16996,205263,8.28,7.53,109.96,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
1,AK,2/22/1986,7,2/15/1986,1635,17,8,0,0,19106,...,17355,205263,8.45,7.76,108.89,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
2,AK,3/1/1986,8,2/22/1986,1818,15,17,0,0,21424,...,17922,205263,8.73,7.97,109.53,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
3,AK,3/8/1986,9,3/1/1986,2257,20,17,0,0,21380,...,18384,205263,8.95,8.17,109.54,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
4,AK,3/15/1986,10,3/8/1986,2005,18,17,0,0,21812,...,18886,205263,9.20,8.32,110.57,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020

In [2]:
#make a copy of the data
unemployment_clean = unemployment.copy()

#rename the columns based on government explanations: https://oui.doleta.gov/dmstree/handbooks/402/402_4/4024c6/4024c6ar539.pdf
#also researched acronyms here: https://oui.doleta.gov/dmstree/handbooks/401/5th/hb401_5.pdf
#and used google search for anything further
unemployment_clean.rename(columns={'st': 'State', 'rptdate': 'Report_Date', 'c1':'Week_Number', 'c2': 'Week_Ending', 'c3': 'Initial_Claims', 'c4':'Fed_Emp_Unemp_Initial_Claims', 'c5': 'Ex_Military_Unemp_Initial_Claims', 'c6': 'Total_Workshare_Unemp_Initial_Claims', 'c7': 'Equivalent_Workshare_Unemp_Initial_Claims', 'c8': 'Total_Continued_Claims', 'c9': 'Fed_Emp_Unemp_Continued_Claims','c10': 'Ex_Military_Unemp_Continued_Claims', 'c11': 'Total_Workshare_Unemp_Continued_Claims', 'c12': 'Equivalent_Workshare_Unemp_Continued_Claims', 'c13': 'Fed_EBT_Continued_Weeks', 'c14':'EBT_State_UI', 'c15': 'State_ABT_Continued_Weeks', 'c16': 'State_ABUI_Continued_Weeks', 'c17': 'Average_Adj_Total_Continued_Weeks_Claimed', 'c18': 'Covered_Employment', 'c19': '13_Week_Avg_Unemp_Rate', 'c20': 'Prior_2_Year_Avg_Unemp_Rate', 'c21': 'Curr_Unemp_Rate_Percent_of_2_Yr_Avg', 'c22': 'Status', 'c23': 'Status_Change_Date'}, inplace=True)

#check results
unemployment_clean.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,Average_Adj_Total_Continued_Weeks_Claimed,Covered_Employment,13_Week_Avg_Unemp_Rate,Prior_2_Year_Avg_Unemp_Rate,Curr_Unemp_Rate_Percent_of_2_Yr_Avg,Status,Status_Change_Date,curdate,priorwk_pub,priorwk
0,AK,2/15/1986,6,2/8/1986,2048,8,9,0,0,21230,...,16996,205263,8.28,7.53,109.96,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
1,AK,2/22/1986,7,2/15/1986,1635,17,8,0,0,19106,...,17355,205263,8.45,7.76,108.89,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
2,AK,3/1/1986,8,2/22/1986,1818,15,17,0,0,21424,...,17922,205263,8.73,7.97,109.53,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
3,AK,3/8/1986,9,3/1/1986,2257,20,17,0,0,21380,...,18384,205263,8.95,8.17,109.54,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020
4,AK,3/15/1986,10,3/8/1986,2005,18,17,0,0,21812,...,18886,205263,9.20,8.32,110.57,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020

In [3]:
#create a new column for current unemployment rate
unemployment_clean['Unemp_Rate'] = (unemployment_clean['Initial_Claims']+unemployment_clean['Total_Continued_Claims'])/unemployment_clean['Covered_Employment']

#check results
unemployment_clean.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,Covered_Employment,13_Week_Avg_Unemp_Rate,Prior_2_Year_Avg_Unemp_Rate,Curr_Unemp_Rate_Percent_of_2_Yr_Avg,Status,Status_Change_Date,curdate,priorwk_pub,priorwk,Unemp_Rate
0,AK,2/15/1986,6,2/8/1986,2048,8,9,0,0,21230,...,205263,8.28,7.53,109.96,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.113406
1,AK,2/22/1986,7,2/15/1986,1635,17,8,0,0,19106,...,205263,8.45,7.76,108.89,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.101046
2,AK,3/1/1986,8,2/22/1986,1818,15,17,0,0,21424,...,205263,8.73,7.97,109.53,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.113230
3,AK,3/8/1986,9,3/1/1986,2257,20,17,0,0,21380,...,205263,8.95,8.17,109.54,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.115155
4,AK,3/15/1986,10,3/8/1986,2005,18,17,0,0,21812,...,205263,9.20,8.32,110.57,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.116032

In [4]:
#create a dictionary to map the state abbreviations to their name
state_dict = {'AK':'Alaska','AL':'Alabama','AR':'Arkansas','AZ':'Arizona','CA':'California','CO':'Colorado','CT':'Connecticut','DC':'District of Columbia','DE':'Delaware','FL':'Florida','GA':'Georgia','HI':'Hawaii','IA':'Iowa','ID':'Idaho','IL':'Illinois','IN':'Indiana','KS':'Kansas','KY':'Kentucky','LA':'Louisiana','MA':'Massachusetts','MD':'Maryland','ME':'Maine','MI':'Michigan','MN':'Minnesota','MO':'Missouri','MS':'Mississippi','MT':'Montana','NC':'North Carolina','ND':'North Dakota','NE':'Nebraska','NH':'New Hampshire','NJ':'New Jersey','NM':'New Mexico','NV':'Nevada','NY':'New York','OH':'Ohio','OK':'Oklahoma','OR':'Oregon','PA':'Pennsylvania','PR':'Puerto Rico','RI':'Rhode Island','SC':'South Carolina','SD':'South Dakota','TN':'Tennessee','TX':'Texas','UT':'Utah','VA':'Virginia','VI':'Virgin Islands','VT':'Vermont','WA':'Washington','WI':'Wisconsin','WV':'West Virginia','WY':'Wyoming'}

#map states to their names in new column
unemployment_clean['State_Name']= unemployment_clean['State'].map(state_dict)

#check results
unemployment_clean.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,13_Week_Avg_Unemp_Rate,Prior_2_Year_Avg_Unemp_Rate,Curr_Unemp_Rate_Percent_of_2_Yr_Avg,Status,Status_Change_Date,curdate,priorwk_pub,priorwk,Unemp_Rate,State_Name
0,AK,2/15/1986,6,2/8/1986,2048,8,9,0,0,21230,...,8.28,7.53,109.96,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.113406,Alaska
1,AK,2/22/1986,7,2/15/1986,1635,17,8,0,0,19106,...,8.45,7.76,108.89,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.101046,Alaska
2,AK,3/1/1986,8,2/22/1986,1818,15,17,0,0,21424,...,8.73,7.97,109.53,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.113230,Alaska
3,AK,3/8/1986,9,3/1/1986,2257,20,17,0,0,21380,...,8.95,8.17,109.54,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.115155,Alaska
4,AK,3/15/1986,10,3/8/1986,2005,18,17,0,0,21812,...,9.20,8.32,110.57,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.116032,Alaska

In [5]:
# new data frame with split value columns 
new = unemployment_clean['Week_Ending'].str.split("/", expand = True) 
  
# making separate month column from new data frame 
unemployment_clean['Week_End_Month']= new[0] 
  
# making separate day column from new data frame
unemployment_clean['Week_End_Day']= new[1] 

# making separate year column from new data frame
unemployment_clean['Week_End_Year'] = new[2]
  
# df display 
unemployment_clean.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,Status,Status_Change_Date,curdate,priorwk_pub,priorwk,Unemp_Rate,State_Name,Week_End_Month,Week_End_Day,Week_End_Year
0,AK,2/15/1986,6,2/8/1986,2048,8,9,0,0,21230,...,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.113406,Alaska,2,8,1986
1,AK,2/22/1986,7,2/15/1986,1635,17,8,0,0,19106,...,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.101046,Alaska,2,15,1986
2,AK,3/1/1986,8,2/22/1986,1818,15,17,0,0,21424,...,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.113230,Alaska,2,22,1986
3,AK,3/8/1986,9,3/1/1986,2257,20,17,0,0,21380,...,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.115155,Alaska,3,1,1986
4,AK,3/15/1986,10,3/8/1986,2005,18,17,0,0,21812,...,B,12/29/1985,5/19/2020,5/14/2020,5/12/2020,0.116032,Alaska,3,8,1986

In [6]:
#get the rows pertaining to 2020
for_upload = unemployment_clean.loc[unemployment_clean['Week_End_Year'] == '2020'].copy()

#check results
for_upload.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,Status,Status_Change_Date,curdate,priorwk_pub,priorwk,Unemp_Rate,State_Name,Week_End_Month,Week_End_Day,Week_End_Year
1768,AK,1/11/2020,1,1/4/2020,1371,4,2,0,0,9310,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034754,Alaska,1,4,2020
1769,AK,1/18/2020,2,1/11/2020,1181,1,1,0,0,9984,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.036329,Alaska,1,11,2020
1770,AK,1/25/2020,3,1/18/2020,1003,3,0,0,0,9496,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034162,Alaska,1,18,2020
1771,AK,2/1/2020,4,1/25/2020,1122,2,1,0,0,9579,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034819,Alaska,1,25,2020
1772,AK,2/8/2020,5,2/1/2020,980,4,1,0,0,9161,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.032997,Alaska,2,1,2020

In [7]:
#fill the front of month and day with leading zeroes so that they will be formatted correctly
for_upload['Week_End_Month'] = for_upload['Week_End_Month'].str.zfill(2)
for_upload['Week_End_Day'] = for_upload['Week_End_Day'].str.zfill(2)

#check results
for_upload.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,Status,Status_Change_Date,curdate,priorwk_pub,priorwk,Unemp_Rate,State_Name,Week_End_Month,Week_End_Day,Week_End_Year
1768,AK,1/11/2020,1,1/4/2020,1371,4,2,0,0,9310,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034754,Alaska,01,04,2020
1769,AK,1/18/2020,2,1/11/2020,1181,1,1,0,0,9984,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.036329,Alaska,01,11,2020
1770,AK,1/25/2020,3,1/18/2020,1003,3,0,0,0,9496,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034162,Alaska,01,18,2020
1771,AK,2/1/2020,4,1/25/2020,1122,2,1,0,0,9579,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034819,Alaska,01,25,2020
1772,AK,2/8/2020,5,2/1/2020,980,4,1,0,0,9161,...,E,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.032997,Alaska,02,01,2020

In [8]:
#add the week end date formatted the way the other tables in our warehouse are formatted
for_upload['Week_End_Formatted']=[str(x) + '-' + y + '-'+z for x, y, z in zip(for_upload['Week_End_Year'], for_upload['Week_End_Month'], for_upload['Week_End_Day'])]

#check results
for_upload.head()

,State,Report_Date,Week_Number,Week_Ending,Initial_Claims,Fed_Emp_Unemp_Initial_Claims,Ex_Military_Unemp_Initial_Claims,Total_Workshare_Unemp_Initial_Claims,Equivalent_Workshare_Unemp_Initial_Claims,Total_Continued_Claims,...,Status_Change_Date,curdate,priorwk_pub,priorwk,Unemp_Rate,State_Name,Week_End_Month,Week_End_Day,Week_End_Year,Week_End_Formatted
1768,AK,1/11/2020,1,1/4/2020,1371,4,2,0,0,9310,...,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034754,Alaska,01,04,2020,2020-01-04
1769,AK,1/18/2020,2,1/11/2020,1181,1,1,0,0,9984,...,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.036329,Alaska,01,11,2020,2020-01-11
1770,AK,1/25/2020,3,1/18/2020,1003,3,0,0,0,9496,...,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034162,Alaska,01,18,2020,2020-01-18
1771,AK,2/1/2020,4,1/25/2020,1122,2,1,0,0,9579,...,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.034819,Alaska,01,25,2020,2020-01-25
1772,AK,2/8/2020,5,2/1/2020,980,4,1,0,0,9161,...,4/7/2018,5/19/2020,5/14/2020,5/12/2020,0.032997,Alaska,02,01,2020,2020-02-01

In [9]:
#now send this data to SQL!
#reference: https://stackoverflow.com/questions/30631325/writing-to-mysql-database-with-pandas-using-sqlalchemy-to-sql
import pymysql
from sqlalchemy import create_engine

user = 'admin'
passw = 'dude1990'
host =  'group3final.cx1foeolbgvg.us-east-2.rds.amazonaws.com'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'stock_data'

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

for_upload.to_sql(name='unemployment', con=mydb, if_exists = 'replace', index=False)